$color1: #2b2a4c;

$color2: #b31312;

$color3: #ea906c;

$color4: #eee2de;

$primary: $color1;

$secondary: $color2;

$font-family-sans-serif: "Noto Sans", sans-serif;

$color1-opacity-50: rgba(43, 42, 76, 0.5);

