$color2: #5f8670;

$color1: #ff9800;

$color3: #495e57;

$color4: #eee2de;

$primary: $color1;

$secondary: $color2;

$font-family:  'Lato', sans-serif;

$color1-opacity-50: rgba(43, 42, 0.5, 0.5);

$color2-opacity-50: rgba(85, 195, 48, 0.5);
