@use "../../styles/variables.scss" as v;
.slider {
  img {
    height: 100vh;
    object-fit: cover;
    object-position: 75% center;
  }
  .carousel-caption {
    text-align: left;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}
