@use "../../styles/mixins" as m;
.slider {
  img {
    height: 100vh;
    object-fit: cover;
    object-position: 75% center;
  }
  .carousel-caption {
    text-align: center;
    bottom: auto;
    top: 50%;
    width: 80%;
    @include m.transform(translateY(-50%));

    @media (min-width: 768px) {
      width: 40%;
      
    }
  }
}
